black
flake8
furo
geopandas
invoke
isort
jupyterlab
myst-parser
nbstripout
pandas
pydocstyle
pylint
pytest
pytest-cov
pytest-mock
pytest-rerunfailures
pytest-socket
pytest-xdist
sphinx
sphinx-autobuild
sphinx-copybutton
xdoctest
